name: Cleanup PR Deployments
on:
  pull_request:
    types: [closed]

permissions: 
  contents: read
  id-token: write

jobs:
  CleanupPRDeployments:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v6
        with:
          role-to-assume: arn:aws:iam::677276093280:role/GitHubDeploy
          role-duration-seconds: 3600
          aws-region: us-east-2
      - name: Install Dependencies
        run: npm ci
      - name: Cleanup PR Deployment
        run: npm run sst -- remove
        env:
          SST_STAGE: PR-${{ github.event.number }}
